
body {
	font-family: "Arial", sans-serif;
	margin-left: 3em;
	margin-right: 7%;
	background-color: #CC9999;  
	padding: 4em;
	text-align: justify;;
}

a:link {color:#660033;}
a:visited {color:#660033;}

.kehys {
	margin: 50px auto auto;
	width: 780px;
}

.keskikehys {
	margin: 50px auto auto;
	width: 500px;
}

.pienikehys {
	margin: 50px auto auto;
	width: 450px;
}

.ruutu {
	background: #f8ffea;
	border: 3px solid #660033;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
}
	
h1, h2, h3 {
	color: #660033;
}

img {
	border: 0;

}

table {
	border: none;
	text-align: left;
}

td {
	border: 1px solid black;
}	

td.noborder {
	border: none;
} 
	
.headnav {
	font-style: italic;
	margin-top: 10px;
	text-align: center;
	color: #660033;
}


